Flask==2.2.5           # Flask library for building the web application
numpy==1.21.6          # Numerical computations
scipy==1.7.3           # Scientific computing
scikit-learn==1.2.2    # Machine learning
joblib==1.1.1          # Lightweight pipelining in Python
threadpoolctl==3.1.0   # Thread control for joblib
pandas==1.3.5          # Data manipulation and analysis

